/****************************************
  Reset
*****************************************/

html {
	color: #777;
	font-family: 'Open Sans', Arial;
	font-size: 12pt;

}
* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
html, body { height: 100%; padding: 0; margin: 0; }
body { min-height: 100%; }
img { border: 0; }
a:focus, a:active, button:focus {
	outline: 0;
}


/****************************************
  Defaults
*****************************************/
body{
	background-image: url(../images/background-image.jpg);
	background-size: cover;
}

a {
	color: yellow;
}


/****************************************
Layout
*****************************************/

main > div, footer > div, header > div {
	width: 880px;
	margin: auto;
}

.form {
	margin-top: 100px;
}


/****************************************
components
*****************************************/


header nav{
	background-color: #000;
	text-align: center;
}


header a{
	color: #fff;
	display: inline-block;
	padding: 0;
	margin: 10px 20px;
	text-decoration: none;
	
}

header .active {
	border-bottom: 2px solid yellow;
}

.logo{
	text-align:center;
}


.logo img {
	margin-top: 100px;
}

.hero p {
	width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 0px;
	text-align: justify;
	color: #fff;
}

.prizes	{
	margin-top: 50px;
}

.prizes figure{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0;
	width: 273px;
}

.prizes figcaption{
	border-top: 5px solid yellow;
	background-color: #fff;
	padding: 5px;
	margin-top: -5px;
}

.form h2 {
	color: yellow;
}

.form h3{
	color: yellow;
}

.form p {
	color: #fff;
	font-size: 12pt;
}

.form button {
	border-radius: 5px;
	background-color: #fff;
	border: none;
	padding: 5px;
}

.branches {
	margin-top: 50px;
	color: #fff;
	font-size: 10pt;
	padding: ;
}
.branch {
	display: inline-block;
	padding: 20px;
	font-size: 10pt
	color: #fff;
}

.branch h3 {
	margin-left: -27px;
	margin-bottom: 0;
	padding-left: 10px;
}

.branch p{
	margin: 0;
	padding: 0;
}
.branch i{
	color: yellow;
	font-size: 18pt;
}
.branch a{
	color: yellow;
	font-size:10pt;
}

h4 {
	margin-top: 100px;
	color: yellow;
}
.sweepstakes{
	overflow: auto;
}
.sweepstakes p {
	text-align: justify;
	height: 700px;
	color: #fff;
	font-size: 10px;
	font-weight: 200;

}

.sweepstakes::-webkit-scrollbar {

    width: 10px;
}
 
.sweepstakes::-webkit-scrollbar-track {
	margin-left: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 4px;
    color: yellow;
}
 
.sweepstakes::-webkit-scrollbar-thumb {
	margin-left: 5px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,255,0.5); 
    background-color: yellow;
}
footer {
	text-align: center;
	background-color: #053742;
	color: #fff;
	margin-top: 300px;
	height: 150px;
	overflow:hidden;
}

.footerText {
	margin-top: 50px;
}
.footerText + div {
	margin-top: 25px;
}