/*bootcamp styling*/

/*Use Tag, Class, and ID selectors*/
/*Use individual and combination selectors*/
/*Use Multiple Selectors (separated by commas)*/
/*Use Descendant selectors*/
/*Use Child selectors*/








body {
  color: #434242;
  background: #fff;
  font-size: 15px;
  position: relative; }

.container {
  max-width: 1280px;
  padding: 40px 180px; }

.row {
  margin: 20px; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px; }

h1, h4 {
  font-weight: 700;
  margin-bottom: 10px; }

h2, h3 {
  font-weight: 300;
  color: #22A39F; }

h2 {
  font-size: 54px;
  text-align: center; }

h3 {
  font-size: 28px; }

h2 {
  padding: 20px; }

hr {
  margin: 40px 0;
  border-color: #727878; }

.quote {
  text-align: center;
  font-size: 21px;
  font-weight: normal; }

.nav {
  background: #fff; }

.jumbotron {
  background: url("../images/background.jpg") no-repeat center right fixed;
  position: relative;
  height: 90%;
  text-align: center;
  font-size: larger; }
  .jumbotron hr {
    margin: 0;
    border-color: white; }
  .jumbotron h1 {
    padding: 65px 0 0;  }
  .jumbotron .quote {
    text-align: center;
    font-size: 32px;
    margin: 10px 0 0; }

.jumbotron .container {
  position: relative;
  z-index: 3;
  color: white; }

.overlay {
  z-index: 2;
  background: grey;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  display: block; }

#profile img {
  margin-top: 15px;
  width: 97%;
  max-width: 246px;
  height: auto;
  border-radius: 100%; }

#experience, #projects {
  background: #DEDEDC; }

#experience .company, #experience .year {
  margin-bottom: 7px;
  font-weight: bold; }
#experience .year {
  font-weight: normal; }
#experience h5 {
  font-weight: 900;
  margin: 3px 0 10px; }
#experience .info {
  margin: 9px; }
  #experience .info strong {
    display: block;
    margin-bottom: 9px; }

#Abilities li .score {
  color: blue; }

#projects figure img {
  max-width: 355px;
  width: 100%;
  max-height: 237px;
  height: auto; }
#projects figure figcaption {
  color: red; }

#contactinfo {
  color: white;
  background: #434242; }
  #contactinfo h2 {
    color: white; }
  #contactinfo ul li {
    margin: 30px; }
    #contactinfo ul li a {
      color: #22A39F; }
    #contactinfo ul li span {
      margin-right: 20px; }

.effect img {
  position: absolute;
  transition: all .2s ease-in-out; }
  .effect img:hover {
    transform: translate3d(-10px, 0, 0); }
  .effect img figcaption {
    transform: translate3d(0, 0, 0); }



  /*Media Queries*/
@media screen and (max-width: 760px) {
  .container {
    width: 100%;
    padding: 20px;
    margin: 0;
    overflow: hidden; }

  .img-responsive {
    width: 50px; } }

/*# sourceMappingURL=style.css.map */
