//variables

//colors
$primary-color: #434242;
$highlightcolor: #222;

$backgroundColor1: #F3EFE0;
$backgroundColor2: #DEDEDC;

$font-family: "Open Sans", sans-serif;

$width: 600px;
$imageSize: 390px;
$borderRadius: 20px;
$textalign: center;

html, body {
    color: $primary-color;
    background: #fff;
    font-size: 15px;
    position: relative;
}

.container {
    max-width: 1280px;
    padding: 40px 180px;
}

.row {
    margin: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

h1, h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

h2, h3 {
    font-weight: 300;
    color: #22A39F;
}

h2 {
    font-size: 54px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

h2 {
    padding: 20px;
}

hr {
    margin: 40px 0;
    border-color: #727878;
}

.quote {
    text-align: $textalign;
    font-size: 21px;
    font-weight: normal;
}

//navigation

.nav {
    background: #fff;
}

//Heading of the page / jumbotron

.jumbotron {
    background: url("../images/background.jpg") no-repeat center right fixed;
    position: relative;
    height: 90%;
    text-align: center;
    font-size: larger;
    hr {
        margin: 0;
        border-color: white;
    }
    h1 {
        padding: 65px 0 0;
        text-shadow: 10px, 3px, 5px, blue;
    }
    .quote {
        text-align: $textalign;
        font-size: 32px;
        margin: 10px 0 0;
    }
}

.jumbotron .container {
    position: relative;
    z-index: 3;
    color: white;
}

.overlay {
    z-index: 2;
    background: grey;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
    display: block;
}

//Profile section of site
#profile {
    img {
        margin-top: 15px;
        width: 97%;
        max-width: 246px;
        height: auto;
        border-radius: 100%;
    }
}

#experience, #projects {
    background: $backgroundColor2;
}

//Experiance section
#experience {
    .company {
        margin-bottom: 7px;
        font-weight: bold;
    }
    .year {
        @extend .company;
        font-weight: normal;
    }
    h5 {
        font-weight: 900;
        margin: 3px 0 10px;
    }
    .info {
        margin: 9px;
        strong {
            display: block;
            margin-bottom: 9px;
        }
    }
}

//Abilities section
#Abilities {
    li {
        .score {
            color: blue;
        }
    }
}

//project section

#projects {
    figure {
        img {
            max-width: 355px;
            width: 100%;
            max-height: 237px;
            height: auto;
        }
        figcaption {
            color: red;
        }
    }
}

//Contact section

#contactinfo {
    color: white;
    background: $primary-color;
    h2 {
        color: white;
    }
    ul {
        li {
            margin: 30px;
            a {
                color: #22A39F;
            }
            span {
                margin-right: 20px;
            }
        }
    }
}

//Effect section

.effect img {
    position: absolute;
    transition: all .2s ease-in-out;
    &:hover {
        transform: translate3d(-10px, 0, 0);
    }
    figcaption {
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width: 760px) {
    .container {
        width: 100%;
        padding: 20px;
        margin: 0;
        overflow: hidden;
    }
    .img-responsive {
        width: 50px;
    }
}