<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Employee Directory</title>

</head>
<body ng-app="MyApp" ng-controller="MyController" class="bg-primary">
    <h1 class="text-center">Employee Directory</h1>
    <div >

        <form action="" class="from-horizontal ">
            <h2 class="text-center">Add an Entry</h2>
            <label for="name" class="input form-group">
                <input type="text" name="name" id="name" placeholder="Name" ng-model="newAddress.name"/>
            </label>
            <br/>
            <label for="number" class="form-group">
                <input type="text" name="number" id="number" placeholder="Number" ng-model="newAddress.number"/>
            </label>
            <br/>
            <label for="address" class="form-group">
                <input type="text" name="address" id="address"  placeholder="address" ng-model="newAddress.address"/>
            </label>
            <br/>
            <label for="position" class="form-group">
                <input type="text" name="position" id="position"  placeholder="position" ng-model="newAddress.position"/>
            </label>
            <br/>
            <button type="submit" class=" submit btn btn-primary" ng-click="addNewAddress()">Add Person</button>
        </form>
    </div>

    <div>
        <div>
            <button type="button" class=" reset btn btn-danger pull-right" ng-click="nukeIt(thing)">RESET!</button>

            {{addresses.name}}
            {{addressArray.number}}
            {{addressArray.position}}
            {{addressArray.address}}


        </div>
    </div>



    <section>
        <h2 class="text-center">Employees</h2>
        <hr/>
        <div class="panel panel-default  col-md-3" ng-repeat="thing in addresses track by $index">
            <div class="panel-heading">
                <h3 class="glyphicon glyphicon-user">
                    {{thing.name}}
                </h3>
                <button class="glyphicon glyphicon-remove-sign pull-right" ng-click="removeAddy(thing)"></button>

            </div>
            <div class="panel-body" >
                <h4>Contact Info</h4>
                <p>Phone: {{thing.number}}</p>
                <p>Address: {{thing.address}}</p>

            </div>
            <div class="panel-footer"> Position: {{thing.position}}</div>
        </div>

    </section>








<script src="js/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/DataService.js"></script>




</body>
</html>