<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href='css/style.css'/>
</head>
<body>
    <div class="books">
        <div class="row">
            <h2 class="text-center">Read these BOOKS</h2>

            <form action="" class="form col-md-2">
                <h4 class="text-center">Add Book</h4>
                <hr/>
                <label for="title" class="input form-group">
                    <input type="text" name="name" id="title" placeholder="Title of Book" ng-model="newBook.titleOfBook"/>
                </label>
                <br/>
                <label for="author" class="form-group">
                    <input type="text" name="number" id="author" placeholder="Author" ng-model="newBook.author"/>
                </label>
                <br/>
                <label for="date" class="form-group">
                    <input type="text" name="number" id="date" placeholder="Date Read" ng-model="newBook.date"/>
                </label>

                <br/>
                <button type="submit" class=" submit btn btn-primary pull-right" ng-click="addBook()">Add</button>
            </form>

            <div class="table  " >

                <table class=" table  table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th >Date Read</th>
                        <th class="pull-right">X</th>
                    </tr>
                    <tr ng-repeat="bk in books track by $index">
                        <td>{{bk.titleOfBook}}</td>
                        <td>{{bk.author}}</td>
                        <td>{{bk.date}}</td>
                        <td>
                            <button class="glyphicon glyphicon-remove-sign pull-right" ng-click="eraseBook()"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</body>
</html>