<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href='css/style.css'/>
    <title></title>
</head>
<body>
<div class="movies">
    <div class="row">
        <h2 class="text-center">Watched these MOVIES</h2>

        <form action="" class="form col-md-2">
            <h4 class="text-center">Add Movie</h4>
            <hr/>
            <label for="title" class="input form-group">
                <input type="text" name="name" id="title" placeholder="Movie Title" ng-model="newMovie.movieTitle"/>
            </label>
            <br/>
            <label for="author" class="form-group">
                <input type="text" name="number" id="author" placeholder="Lead Actor" ng-model="newMovie.actor"/>
            </label>
            <br/>
            <label for="date" class="form-group">
                <input type="text" name="number" id="date" placeholder="Date you Watched" ng-model="newMovie.dateWatched"/>
            </label>

            <br/>
            <button type="submit" class=" submit btn btn-primary pull-right" ng-click="addMovie()">Add</button>
        </form>

        <div class="table  col-md-5" >

            <table class=" table  table-striped">
                <tr>
                    <th>Movie</th>
                    <th>Lead Actor</th>
                    <th >Date Watched</th>
                    <th class="pull-right">X</th>
                </tr>
                <tr ng-repeat="mov in movies track by $index">
                    <td>{{mov.movieTitle}}</td>
                    <td>{{mov.actor}}</td>
                    <td>{{mov.dateWatched}}</td>
                    <td>
                        <button class="glyphicon glyphicon-remove-sign pull-right" ng-click="eraseMovie(mov)"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>