<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href='css/style.css'/>
    <title></title>
</head>
<body>
<div class="concerts">
    <div class="row">
        <h2 class="text-center">Been to these Concerts</h2>

        <form action="" class="form col-md-2">
            <h4 class="text-center">Add concert</h4>
            <hr/>
            <label for="title" class="input form-group">
                <input type="text" name="name" id="title" placeholder="Headlining Act" ng-model="newConcert.headliner"/>
            </label>
            <br/>
            <label for="author" class="form-group">
                <input type="text" name="number" id="author" placeholder="Opening Act" ng-model="newConcert.openingAct"/>
            </label>
            <br/>
            <label for="date" class="form-group">
                <input type="text" name="number" id="date" placeholder="Date Attended" ng-model="newConcert.dateAttended"/>
            </label>

            <br/>
            <button type="submit" class=" submit btn btn-primary pull-right" ng-click="addConcert()">Add</button>
        </form>

        <div class="table  col-md-5" >

            <table class=" table  table-striped">
                <tr>
                    <th>Headliner</th>
                    <th>Opening Act</th>
                    <th >Date Attended</th>
                    <th class="pull-right">X</th>
                </tr>
                <tr ng-repeat="con in concerts track by $index">
                    <td>{{con.headliner}}</td>
                    <td>{{con.openingAct}}</td>
                    <td>{{con.dateAttended}}</td>
                    <td>
                        <button class="glyphicon glyphicon-remove-sign pull-right" ng-click="eraseConcert(con)"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>