<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body ng-app="myApp">


    <h1>Grocery List</h1>
    <div ng-controller="GroceryController">
        <form ng-submit="submited=name">
            <input class="input" id="input" type="text" name="name" ng-model="itemName" placeholder="Add item to your Grocery List" required/>
            <button class="input" id="button" type="submit" ng-click="addItem()">Add to List</button>

        </form>
        <h2> {{itemArray.length}} Items left to purchase:</h2>

        <ul>
            <li ng-repeat="item in itemArray">{{ item }}
                <button class="submit" ng-click="deleteItem(item)">Found it!</button>
            </li>
        </ul>
    </div>


</body>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>

</html>