

div.panel, input{
    color: #000;
}

form{
    background: #808080;
    width: 25%;
    margin: auto;
}

form label {
    padding:0 20px;
    margin: auto;
}
form h2{
    padding-top: 20px;;
}
.input{
    margin-top: 10px;
}
 input{
    width: 300px;
}
 
 .submit{
     margin: 20px;
  }
 
 .reset{
     margin-right: 20px;
 }