html{
    background: url("../images/legalPad.jpg");

}

body{
    width: 950px;
    margin-left: 161px;
    font-size: 115%;
}
button{
    border-radius: 10px;
    font-size: 14px;
}

/*heading*/

h1{
    text-align: center;
    margin-bottom: 48px;
}

/*input fieldset*/
h2{
    margin: 45px 0 0 40px;
    text-decoration: underline;
}

form{
    text-align: center;
    margin-top: 0;
    height: auto;
}

#button{
    margin-left: 10px;
}

input{
    width: 350px;
    height: 25px;
    border-radius: 5px;
    font-size: 24px;
}



/*items in list*/
ul{
    margin-top: 40px;
}
ul li{
    list-style: none;
    margin-top: 8px;
    font-size: 24px;
}

.submit {
    margin: 0 20px 0 0;
    float: right;
}