body{
    
}
nav .navbar> nav{
    background: #808080;
}

li{
    padding: 0 50px;
}

.books{
    background-image: url(../images/library.jpg);
}

.movies{
    background-image: url(../images/movie_theatre.jpg);
}

.concerts{
    background-image: url(../images/concert.jpg);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.books, .movies, .concerts{
    height: 600px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

h2, h4{
    color: #fff;
}
h2{
    margin-bottom: 50px;
}

/*form style*/
.form{
    margin-left: 50px;
    overflow: hidden;
    background: rgba(160,160,160,.5);
}

.form input{
    width: 200px;
    margin-left: 5%;

}
.form .submit{
    margin: 10px;
}


/*table style*/

.table{
    color: #000;
    width: 75%;
    margin: auto;
}